# Pandas
 - Pandas 에는 두개의 데이터 구조 가 있다. (Series , DataFrame)
 
 ## Series : index가 있는 1차원 구조로
 ### Series(data, [index=인덱스데이터])
  -- 1차원 배열과 비슷  
  
  -- 1차원 배열과 다른점은 인덱스를 원하는 형태로 입력할 수 있다는 점
  
  -- data는 List, Dictionary, Numpy의 배열, pandas의 Series 등이 올수 있다.

In [1]:
import pandas as pd
idx=['on','tw','tr','fr','fiv']           # index 값으로 문자열로 된 리스트 'idx'를 생성
s1=pd.Series([10,20,30,40,50])            #  10~50 의 값을 가지는 Series 'S1' 생성
s2=pd.Series([10,20,30,40,50],index=idx)  #  s1과 동일한 값을 지니되 index 값을 idx로 지정한 Series 's2'생성
print(s1)
print(s2)
print(s2['fiv'])   #  s2에서 index가 'fiv'인 값에 접근
print(s1.index)    #  s1의 index(자동으로 생성된)
print(s2.index)    #  s2의 index
print(s2.values)   #  s2의 값을 리스트로 출력

0    10
1    20
2    30
3    40
4    50
dtype: int64
on     10
tw     20
tr     30
fr     40
fiv    50
dtype: int64
50
RangeIndex(start=0, stop=5, step=1)
Index(['on', 'tw', 'tr', 'fr', 'fiv'], dtype='object')
[10 20 30 40 50]

### Data로 Dictionary가 오는 경우 Dictionary의 key 가 Series의 index가 된다.

In [2]:
import pandas as pd
data={'국어':100, '영어':95, '수학':80 }
score=pd.Series(data)

score

국어    100
영어     95
수학     80
dtype: int64

### data_range(시작일, 종료일, perids=기간, freq='빈도(주기)')
 - 시작일 : 필수
 - 종료일 혹은 period 둘중 하나는 필요
 - freq : 기간의 간격(따로 검색 필요- '판다의 date_range()' ) - 기본값 'D' 는 1일 단위
    '2D' : 2틀 간격 /  'W' : 요일의 시작일(기본은 일요일) ,  'W-MON' : 월요일을 시작으로

In [3]:
import pandas as pd
fq=['W-MON']
d1=pd.date_range('2021-4-01','2021-08-1',freq='W')     # 매주 일요일
d2=pd.date_range('2021-4-01','2021-08-1',freq='W-MON') # 매주 월요일
d3=pd.date_range('2021-4-01','2021-08-1',freq='B')     # 업무날짜(월요일 ~ 금요일)
d4=pd.date_range('2021-4-01','2021-08-1',freq='MS')    # 매월 첫째 날
d5=pd.date_range('2021-4-01','2021-08-1',freq='M')     # 매월 마지막 날
d6=pd.date_range('2021-4-01','2021-08-1',freq='BMS')   # 업무날짜 기준으로 월의 첫번째 날
d7=pd.date_range('2021-4-01','2021-08-1',freq='BM')    # 업무날짜 기준으로 월의 마지막 날
d8=pd.date_range('2021-1-01',periods=8,freq='QS')      # 1월 1일 부터 8분기 동안의 매 분기 시작 날
d9=pd.date_range('2021-1-01',periods=8,freq='Q')       # 1월 1일 부터 8분기 동안의 매 분기 마지막 날
d10=pd.date_range('2021-4-01',periods=8,freq='H')      # 4월 1일 00:00 시 부터 8시간 동안 매 시간 단위로 리스트 생성
d11=pd.date_range('2021-4-01',periods=8,freq='30min')  # 4월 1일 00:00 시 부터 30분 단위로 8개의 요소를 리스트로 생성

#### Series 와  date_range() 를 이용해서 10분기의 시작날짜의 Series 생성

In [4]:
import pandas as pd

idx=['1q','2q','3q','4q','5q','6q','7q','8q','9q','10q']
D_data=pd.date_range('2021-1-01',periods=len(idx),freq='QS')
dateList=pd.Series(D_data,index=idx)
print(dateList)
print('4번째 분기 : ',dateList['4q'])

1q    2021-01-01
2q    2021-04-01
3q    2021-07-01
4q    2021-10-01
5q    2022-01-01
6q    2022-04-01
7q    2022-07-01
8q    2022-10-01
9q    2023-01-01
10q   2023-04-01
dtype: datetime64[ns]
4번째 분기 :  2021-10-01 00:00:00

### reindex : Series의 index를 다시 할당 : 안된다... 왜 안되는지 모르겠음 ㅠㅠ

In [5]:
import pandas as pd
s1=pd.Series({'Python':3.5, '자료구조':4.2, '알고리즘':4.0})
s2=s1.reindex([1,2,3])
print(s1)

Python    3.5
자료구조      4.2
알고리즘      4.0
dtype: float64

## DataFrame : 행과 열이 있는 표 형식의 데이터
### 생성 : pd.DataFrame(data,[index=인덱스 데이터],[columns=열 데이터])
 - index 데이터와, columns 데이터는 생략 가능 하며, 생략하면 0,1,2,3 순으로 자동 할당

In [8]:
import pandas as pd
data=[[1,2,3],[4,5,6],[7,8,9]]  # 3 * 3 의 2차원 리스트 'data' 생성
df=pd.DataFrame(data)           # 'data'리스트로 DataFrame 'df' 생성  - index와 columns는 자동으로 0,1,2로 생성
df1=pd.DataFrame(data,index=[1,2,3], columns=['A','B','C'])   #  index와 columns 데이터를 사용해서 DataFrame 'df1' 생성
print(df)
print('-------------')
print(df1)
print(df1.index)     # df1 의 index 출력 
print(df1.columns)   # df1의 columns 출력
print('-------------')
print(df1.loc[1])       # df1 에서 index가 1 인 데이터들의 
print('-------------')
print(df1['A'])      # df1의 index와 'A' 열 출력 --> 열 단위로 출력 된다.
print('-------------')
print(df1.shape)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
-------------
   A  B  C
1  1  2  3
2  4  5  6
3  7  8  9
Int64Index([1, 2, 3], dtype='int64')
Index(['A', 'B', 'C'], dtype='object')
-------------
A    1
B    2
C    3
Name: 1, dtype: int64
-------------
1    1
2    4
3    7
Name: A, dtype: int64
-------------
(3, 3)

### Dictionary를 사용 한 DataFrame의 생성

In [11]:
import numpy as np
import pandas as pd

# Dictionary 에는 '연도', '지사', '고객수'를 Key 값으로 가지는 3개의 List 데이터들이 있다. 
dic_data={'연도':[2017, 2017, 2018, 2018, 2019, 2019],
          '지사':['한국','미국','한국','미국','한국','미국'],
          '고객수':[200, np.nan, 250, 450, 300, 500]}

# 
df=pd.DataFrame(dic_data)
print(df)
print(df.index)
print(df.columns)
print(df.values)

     연도  지사    고객수
0  2017  한국  200.0
1  2017  미국    NaN
2  2018  한국  250.0
3  2018  미국  450.0
4  2019  한국  300.0
5  2019  미국  500.0
RangeIndex(start=0, stop=6, step=1)
Index(['연도', '지사', '고객수'], dtype='object')
[[2017 '한국' 200.0]
 [2017 '미국' nan]
 [2018 '한국' 250.0]
 [2018 '미국' 450.0]
 [2019 '한국' 300.0]
 [2019 '미국' 500.0]]

### DataFrame 데이터의 접근법(index 와 column 활용)
#### index : iloc 와 loc 이 있다. 
##### iloc : index위치값(0 , 1, 2, 3...) 으로 접근   /   loc : index 값 으로 접근 
####  column : df.['열값']

In [42]:
import pandas as pd

dic={
    'A-101':['홍길동',75,83],
    'A-102':['강호동',92,76],
    'B-101':['홍차영',83,82],
    'B-102':['최명순',89,75]
}

# 딕셔너리 dic를 가지고 index가 ['A','B','C'] 인 DataFrame df 생성
df=pd.DataFrame(dic, index=['A','B','C'])

print(df)
print("---------------------")

# index가 1번째 값
print(df.iloc[1])
print("---------------------")

# indexrk 1번째에서 마지막 번까지
print(df.iloc[1:])
print("---------------------")

# indexrk 1번째에서 2번째 까지
print(df.iloc[1:3])
print("---------------------")

# index가 'A' 인 값
print(df.loc['A'])
print("---------------------")

# column이 'B-101'인 데이터
print(df['B-101'])

  A-101 A-102 B-101 B-102
A   홍길동   강호동   홍차영   최명순
B    75    92    83    89
C    83    76    82    75
---------------------
A-101    75
A-102    92
B-101    83
B-102    89
Name: B, dtype: object
---------------------
  A-101 A-102 B-101 B-102
B    75    92    83    89
C    83    76    82    75
---------------------
  A-101 A-102 B-101 B-102
B    75    92    83    89
C    83    76    82    75
---------------------
A-101    홍길동
A-102    강호동
B-101    홍차영
B-102    최명순
Name: A, dtype: object
---------------------
A    홍차영
B     83
C     82
Name: B-101, dtype: object

#### DataFrame 의 행 / 열 전환  :  데이터프레임.T

In [46]:
import pandas as pd

dic={
    'A-101':['홍길동',75,83],
    'A-102':['강호동',92,76],
    'B-101':['홍차영',83,82],
    'B-102':['최명순',89,75]
}

df1=pd.DataFrame(dic)
df2=pd.DataFrame(dic).T

print(df1)
print(df2)

  A-101 A-102 B-101 B-102
0   홍길동   강호동   홍차영   최명순
1    75    92    83    89
2    83    76    82    75
         0   1   2
A-101  홍길동  75  83
A-102  강호동  92  76
B-101  홍차영  83  82
B-102  최명순  89  75

### set_index(열 이름) : DataFrame의 특정 열 이름을 index 값으로 설정
#### df.set_index("연도")  : "연도"를 index로 설정

In [8]:
import numpy as np
import pandas as pd

dic_data={'연도':[2017, 2017, 2018, 2018, 2019, 2019],
          '지사':['한국','미국','한국','미국','한국','미국'],
          '고객수':[200, np.nan, 250, 450, 300, 500]}

df1=df.set_index("연도")  # "연도"를 index로 설정
df1

      지사    고객수
연도
2017  한국  200.0
2017  미국    NaN
2018  한국  250.0
2018  미국  450.0
2019  한국  300.0
2019  미국  500.0

### reindex(new_index_data) : new_index_data 값으로 데이터프레임의 index값을 변경
##### 새로운 DataFrame = df.reindex (new_index_data) : df의 index 값을 new_index_data 로 변경해서 '새로운 DataFrame'에 저장
####                                 --> 이렇게 한다고 df의 index 값이 변경 되는 것은 아니다.

In [9]:
import pandas as pd

dic_data={'A':[10,20,30,40,50,60],
          'B':[0.1,0.2,0.3,0.4,0.5,0.6],
          'C':[100,200,300,400,500,600]
         }

df1=pd.DataFrame(dic_data)
df2=df1.reindex([4,2,5,3,1])  # df1의 index 값을 변경 해서 df2에 저장, df1의 index값이 변경되는 것은 아니다

print(df1.index)  # RangeIndex(start=0, stop=6, step=1)  df1의 index값이 변경 되지는 않는다
print(df2.index)  # Int64Index([4, 2, 5, 3, 1], dtype='int64') df2의 index 값은 [4,2,5,3,1]

RangeIndex(start=0, stop=6, step=1)
Int64Index([4, 2, 5, 3, 1], dtype='int64')

## CSV 파일 읽어 오기
### %%writefile 경로/파일명  :  주피터 노트북의 magic command 로 파일을 기록 한다. 
(제일 첫줄에 사용해야 한다)

In [10]:
%%writefile c:/myPyExcel/data/ch05/korea_rain1.csv
연도,봄,여름,가을,겨울
2014,215.9,599.8,293.1,76.9
2015,223.2,387.1,247.7,109.1
2016,312.8,446.2,381.6,108.1
2017,118.6,609.7,172.5,75.6
2018,368.1,586.5,351.2,66.5

Overwriting c:/myPyExcel/data/ch05/korea_rain1.csv

### pd.read_csv(csv_file,encoding="utf-8")  :  csv 파일을 'utf-8'형식으로 읽어 들인다.
### pd.read_csv(csv_file,index_col=열번호)  :  csv 파일을 열번호의 필드값들을 인덱스로 해서 읽어 들인다.
### pd.read_csv(csv_file,index_col='필드명')  :  csv 파일을 열번호의 필드값들을 인덱스로 해서 읽어 들인다.

#### * csv_file : 전체 경로 + 파일명(확장자포함) 되어야 한다.

In [11]:
import pandas as pd

# CSV 파일을 읽어와서, DataFrame 'df'를 생성
df=pd.read_csv('c:/myPyExcel/data/ch05/korea_rain1.csv',encoding='utf-8')

# CSV 파일 경로를 만드는 방법
folder='c:/myPyExcel/data/ch05/'
csv_file=folder+'korea_rain1.csv'

df=pd.read_csv(csv_file,encoding='utf-8')
df1=pd.read_csv(csv_file,encoding='utf-8',index_col=0)
df2=pd.read_csv(csv_file,encoding='utf-8',index_col='연도')

print(df1)
print(df2)

          봄     여름     가을     겨울
연도
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1
2017  118.6  609.7  172.5   75.6
2018  368.1  586.5  351.2   66.5
          봄     여름     가을     겨울
연도
2014  215.9  599.8  293.1   76.9
2015  223.2  387.1  247.7  109.1
2016  312.8  446.2  381.6  108.1
2017  118.6  609.7  172.5   75.6
2018  368.1  586.5  351.2   66.5

### pd.read_csv(csv_file, sep="구분자") : 구분자를 기준으로 CSV 파일을 불러온다.

In [12]:
import pandas as pd

folder='c:/myPyExcel/data/ch05/'
txt_file=folder+'korea_rain1_space.txt' # 공백 구분 파일
tab_file=folder+'korea_rain1_tab.txt'   #  Tab 구분 파일

# 공백으로 구분된 파일을 불러 오는 경우
df=pd.read_csv(txt_file, sep=" ",encoding='utf-8')

# Tab 으로 구분된 파일을 불러 오는 경우
#df=pd.read_csv(tab_file, sep="\t",encoding='utf-8')

df

     연도      봄     여름     가을     겨울
0  2014  215.9  599.8  293.1   76.9
1  2015  223.2  387.1  247.7  109.1
2  2016  312.8  446.2  381.6  108.1
3  2017  118.6  609.7  172.5   75.6
4  2018  368.1  586.5  351.2   66.5

#### 필드명이 없는 데이터를 csv 파일로 저장

%%writefile c:/myPyExcel/data/ch05/korea_rain2.csv
2014,215.9,599.8,293.1,76.9
2015,223.2,387.1,247.7,109.1
2016,312.8,446.2,381.6,108.1
2017,118.6,609.7,172.5,75.6
2018,368.1,586.5,351.2,66.5

### 필드명이 없는 데이터 불러오기
### read_csv(파일명, header=None) 
header=None 옵션으로 colmns 없이 데이터를 불러 올수 있다.

### 필드명을 사용자가 직접 지정 하는 경우
### read_csv(파일명, names=필드명데이터)

In [13]:
import pandas as pd

folder='c:/myPyExcel/data/ch05/'
txt_file=folder+'korea_rain2.csv'

df=pd.read_csv(txt_file) # 이렇게 읽어 들이면, 첫번째 데이터(2014년도 데이터들이 columns로 들어 오게 된다.)

df1=pd.read_csv(txt_file, header=None)

name_list=['Year','Spring','Summer','Fall','Winter']
df2=pd.read_csv(txt_file, names=name_list)
df2

   Year  Spring  Summer   Fall  Winter
0  2014   215.9   599.8  293.1    76.9
1  2015   223.2   387.1  247.7   109.1
2  2016   312.8   446.2  381.6   108.1
3  2017   118.6   609.7  172.5    75.6
4  2018   368.1   586.5  351.2    66.5

### columns 가 있는 CSV 데이터에서 column 데이터는 제외 하고 값만 불러와서
### 사용자가 직접 Column 을 지정 하려고 할때

In [14]:
import pandas as pd

#korea_rain1.csv 파일은 [연도, 봄, 여름, 가을, 겨울] 이라는 column 데이터가 있다.
folder='c:/myPyExcel/data/ch05/'
txt_file=folder+'korea_rain1.csv'

# 사용자가 직접 지정하고 싶은 column 데이터 들
name_list=['new_Year','new_Spring','new_Summer','new_Fall','new_Winter']

df1=pd.read_csv(txt_file)

# header 값을 0 으로 주고, names 옵션에 직접 column 데이터를 지정
df2=pd.read_csv(txt_file, header=0, names=name_list)

df2

   new_Year  new_Spring  new_Summer  new_Fall  new_Winter
0      2014       215.9       599.8     293.1        76.9
1      2015       223.2       387.1     247.7       109.1
2      2016       312.8       446.2     381.6       108.1
3      2017       118.6       609.7     172.5        75.6
4      2018       368.1       586.5     351.2        66.5

## DataFrame 데이터를 CSV 파일로 기록
#### df.to_csv(파일명, [encoding='인코딩 방식'],[index = ],[header = ],[sep = ])
- encoding 방식의 경우 기본값은 'utf-8' 인데, 메모장에서 불러 올때는 상관 없지만 <br>
- 엑셀의 경우, encoding='cp949' 로 해 줘야 한글이 안 깨진다<br>
- index의 값을 False 로 주면, 제일 앞에 index 열 없이 데이터만 저장된다.

In [15]:
import pandas as pd

df=pd.DataFrame({
    '제품ID':['P1001','P1002','P1003','P1004'],
    '판매가격':[5000,7000,8000,10000],
    '판매량':[50,93,70,48]
})

df

# CSV 파일 경로
folder='c:/myPyExcel/data/ch05/'
csv_file=folder+'product_sales1.csv'
csv_file2=folder+'product_sales100.csv'

df.to_csv(csv_file2,encoding='cp949',index=False) 
# encoding은 기본값인 'utf-8'로